@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.chatList{
    max-width: 300px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border: 3px solid transparent;
    border-right-color: $darkGrey;

    .listEmpty{
        text-align: center;
    }
}

