@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.addMessage{
    position: relative;
    max-width: 900px;
    width: 100%;
    @include flex(row, space-between, center, no-wrap, 0, 0);
    align-self: flex-end;
    padding: 20px 0;

    .input{
        @include size(100%, 70px);
        @include font(1.6rem, 400, $white, 2rem, 0.2rem);
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid transparent;
        border-left-color: $pink;
        padding: 15px 10px 60px 10px;
        padding-left: 15px;
        padding-right: 60px;
        overflow: hidden;
    }
    
    .button{
        position: absolute;
        right: 10px;
        top: 35px;
        @include size(35px, 35px);
        background: transparent;
        cursor: pointer;
    
        i{
            color: $purple;
            font-size: 20px;
        }
    }
}



