.addMessage{
    max-width: 900px;
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.addMessage__input{
    width: 95%;
    height: 30px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid #9CD1B8;
    background: rgba(255, 255, 255, 0.10);
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 15px;
    outline: none;
    padding-left: 15px;
}

.addMessage__button{
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-radius: 50%;
    background: transparent;
    outline: none;
    border: 1px solid #9CD1B8;
    color: #fff;
    cursor: pointer;
    align-self: flex-end;
}