.newChat{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.button{
    width: 120px;
    height: 40px;
    outline: none;
    background: #b84949;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.availableChatList{
    display: none;
    position: absolute;
    width: 100%;
    height: 85vh;
    top: 100px;
    border: 1px solid yellow;
    background: #000000;
}

.active{
    display: flex;
}