@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Barlow', sans-serif;
}
html {
    font-size: 62.5% /* makes 1rem 10px */
}
body{
    min-height: 100vh;
    height: 100%;
    background: $black;
}


.mainPage{
    padding: 100px 50px;
    @include size(100vw, 100vh);
    @include flex(column, start, center, no-wrap, 0, 100px);


    .mainTitle{
        position: relative;
        background: #5465FF;
        max-width: 900px;
        min-height: 200px;
        @include border(1px, solid, transparent, 30px);
        padding: 30px;
        padding-top: 10px;

        &::after{
            position: absolute;
            content: "";
            top: -60px;
            right: 50px;
            border: 30px solid transparent;
            border-bottom-color: #5465FF;
        }

        span{
            @include font(2.4rem, 400, $pink, 5rem, 0.1rem);
        }
    
        h1{
            text-transform: uppercase;
            @include font(3.6rem, 400, $white, 5rem, 0.2rem);
        }
    }
}


.chatPage{
    min-height: 100vh;
    height: 100%;
    max-width: 1200px;
    display: flex;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 0px 150px 70px rgba(255, 0, 0, 0.20);
    margin: 0 auto;
}

.chat{
    max-width: 900px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.messages{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}


@media screen and (max-width: 840px) {
    .mainPage{
        .mainTitle{
            h1{
                @include font(2rem, 400, $white, 3rem, 0.2rem);
            }
        }
    }
}